:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  margin: 0 auto;
  width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  /* background-color: #252525; */
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dflex {
  display: flex;
}

.style-italic {
  font-style: italic;
}

.remove-space {
  margin: 0;
  padding: 0;
}

.add-mb {
  margin-bottom: 16px;
}

.add-4mb {
  margin-bottom: 64px;
}

.h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 45px;
}

.small-txt {
  font-size: 14px;
}

.button-default {
  padding-inline: 16px;
  padding-block: 8px;
  background: #000;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-links a {
  color: #000;
  text-decoration: none;
}

.add-mt-4 {
  margin-top: 100px;
}
